doctype html
html(lang='en')
    head
        include ../block/head
    body
        block header
            include ../block/header

        block content

        block footer
            include ../block/footer