extends layout/layout

block content
    section(class='jumbotron text-center bg-white')
        div.container
                h1 Example pages
                p(class='lead text-muted') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam asperiores debitis distinctio, dolor ipsam molestiae mollitia optio repellendus tempore veniam veritatis. Dicta ea eveniet minus nostrum odio veritatis voluptatem.
    include block/cards